{% extends "base.html" %}
{% block title %}About{% endblock %}
{% block head %}
    {{ super() }}

{% endblock %}
{% block content %}

<div class="card">
  <div class="card-body">
    <h4 class="card-title">Info on the 2019 Novel Coronavirus (NCOV)</h4>
    <p class="card-text">Some example text. Some example text.</p>
    <a href="#" class="card-link">Card link</a>
    <a href="#" class="card-link">Another link</a>
  </div>
</div>

<div class="embed-responsive embed-responsive-16by9">
  <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/O_qCAO59G84" allowfullscreen></iframe>
</div>

{% endblock %}
